.idea

# OS 관련 파일
.DS_Store
Thumbs.db


package.json
package-lock.json
node_modules

# IntelliJ
out/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/


# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,intellij
**/.claude/settings.local.json
